
<div class='head'>$lang.get('rabbitmq.setting.title')</div>

#parse('/widget/widget.message.html')

<div class='tabs'>
	<a href='/admin/rabbitmq' >$lang.get('a.rabbitmq')</a>
	<a href='/admin/rabbitmq/setting' class='selected'>$lang.get('a.setting')</a>
</div>

<form action='/admin/rabbitmq/setting'  method='post' class='form' enctype="multipart/form-data">
	<div><label><h3>$lang.get('rabbitmq.enabled'):</h3><input type='checkbox' name='enabled' #if($global.getString('rabbitmq.enabled', 'off')=='on') checked #end/><g>$lang.get('activemq.enabled.hint')</g></label></div>
	<div><label><h3>$lang.get('rabbitmq.url'):</h3><input type='text' style='width:40%' name='url' value="$!global.getString('rabbitmq.url', 'amqp://user:passwd@[host]:5672/group')"/><g>$lang.get('activemq.url.hint')</g></label></div>
	
	<button type='submit'>$lang.get('btn.save')</button>
</form>
